.intro {
	background: url(../img/intro/bg-slider.jpg) center/cover no-repeat;
	min-height: 193px;
	&__slider {
		background: rgba(33, 33, 33, 0.5);
	}
	&__item {
		color: #fff;
		text-align: center;
	}
	&__title {
		font-family: 'Roboto Condensed';
		font-size: 28px;
		line-height: 28px;
		font-weight: 400;
		font-style: normal;
		text-transform: uppercase;
		padding: 36px 0 28px;
	}
}
