@import "zeroing.scss"; 

@import "header.scss";

@import "intro.scss";

@import "promo.scss";

@import "services.scss";

.container {
	padding: 0 20px;
}

.main-content {
	margin-top: 80px;
	transition: 0.5s all ease 0s;

	&.blure {
		filter: blur(50px);
	}
}